/*Para todas as páginas*/

*{
    font-family: "Treubechet MS", "Tahoma";
}

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;

}

main {
	margin: 15px;
}

.bloconav {
	background-color: black;
	color: white;
	display: block;
	width: 100%;
	border: 2px dashed;
	border-color: gold;
	text-align: center;
	margin: 0;
	padding: 0;
	margin: auto;
  }

.bloconav:hover {
	border:2px dotted white;
	transition: 1.5s;
}

.menunav {
    text-align: top;
    top: 0;
    left: 0;
	font-weight: bold;
}

.menunav li {
    padding: 5px;
}

.menunav a {	
    padding: 5px;
	color: white;
	text-decoration: none;
	font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    text-transform: uppercase;
}

.menunav a:hover {
    text-decoration: solid underline;
	color: gold;
	transition: 1.5s;
}

.foto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.videos iframe {
	display: block;
	max-width: 100%;
	margin: 7.5px;
}

/* DESATIVADO POR ESTÉTICA
	hr {
	border: none;
	border-top: 1px solid black;
	margin-bottom: 20px;
  } */

h1 {
	margin-top: 30px;
	margin-bottom: 20px;
}

h2 {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Para a página do ingresso */

.comprar{
	margin-top: 5px;
	margin-bottom: 5px;
	cursor:pointer;
	}

.linha{
	margin: 10px;
}

label{
	width: 150px;
	text-align: right;
	display: inline-block;
	padding-right: 5px;
}

fieldset {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px;
	border-style: solid;
	border-radius: 10px;
	border-color: black;
	background: white;
	-webkit-box-shadow: 12px 18px 6px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 12px 18px 6px 0px rgba(0,0,0,0.24);
	box-shadow: 12px 18px 6px 0px rgba(0,0,0,0.24);
}

input {
	border: 0.5px;
	border-style: solid;
	border-radius: 10px;
	text-align:left;
	padding: 5px;
}

table {
	margin-top: 10px;
	width: 900px;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto;
	-webkit-box-shadow: 12px 18px 6px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 12px 18px 6px 0px rgba(0,0,0,0.24);
	box-shadow: 12px 18px 6px 0px rgba(0,0,0,0.24);
	border: solid 2px lightgray
}

.legenda {
	margin-top: 10px;
	margin-bottom:10px;
}

th {
	background-color: black;
	color: white;
	font-family: "Verdana";
	padding-top: 5px;
	padding-bottom: 5px;
}

td {
	font-family: "Verdana";
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid 1px gray;
}

tr:nth-child(even) {
	background-color: #f1f1f1;
}

tr:hover td {
	background: #E9E9E9E9;
}


button{
	background: black;
	color: white;
	width: 100px;
	border: 1px;
	border-style: solid;
	border-color: gold;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor:pointer;
	margin: 0 auto;
}

.selecionarestado {
	border: 0.5px;
	border-style: solid;
	border-radius: 10px;
	text-align:left;
	padding: 5px;
}

.cidadedoshow{
	border: 0.5px;
	border-style: solid;
	border-radius: 10px;
	text-align:left;
	padding: 5px;
}

iframe {
border-radius: 10px;
}