/*Para todas as páginas*/

*{
    font-family: "Treubechet MS", "Tahoma";
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(49, 168, 221, 0.20), rgba(0, 0, 0, 0.60)), url("../img/bats2.jpg");
}

header {
	background-image: linear-gradient(to right, black, darkgray, black);
	min-height: 150px;
	padding-top: 40px;
	text-shadow: none;
	text-align: center;
	margin-top: -40px;
}

header > p {
	color:white;
	font-size: 1.2em;
	max-width: 500px;

	padding-right: 10px;
	padding-left: 10px;
	margin: auto;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}


.menunav {
	background-image: linear-gradient(to right, black, darkgray, black);
	padding: 10px;
	border-bottom: 1px dashed gold;
}

.menunav a {
	padding: 0.5em;
	color: gold;
	text-decoration: none;
	font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
	text-transform: uppercase;
	text-shadow: none;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
	border-radius: 5px;
	font-weight: bold;
}

.menunav a:hover {
	background-color: white;
	border-bottom: 1px dotted white;
	text-shadow: 0.5px 0.5px 0.5px gold;
	text-decoration: none;
	transition: 1s;
	color: black;
}

/*para a pagina inicial*/

.listabandas {
	display: flex;
	list-style: none;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.linkbanda {
	padding: 0.75em 1em;
	display: inline;
	font-size: 1.5em;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	text-decoration: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: 'impact';
	margin-bottom: 10px;
}

.linkbanda:hover {
	background-color: white;
	text-shadow: 0.5px 0.5px 0.5px gold;
	text-decoration: none;
	transition: 1s;
	color: black;
}

main {
	margin: auto;
	margin-bottom: 30px;
	background-color: black;
	min-width: 300px;
	max-width: 1200px;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/* Para as fotos */


main img {
	border: 0.15em solid gold;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	/*width: 30%; - cancelado para testes */
}

figcaption {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	color: white;
	font-size: 1.5em;
}

/* cancelado para testes 
.fotosbandas {
	display: flex;
	width: 25%;
	height: auto;
}*/

/* Para os vídeos */

.video-container {
	background-color: darkgray;
	margin: 0px -20px 30px -20px;
	padding: 20px;
	position: relative;
	padding-bottom: 57%;
}

.video {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}

/* Para as páginas de conteúdo */

.conteudo {
	margin: 15px 0px;
	text-align: justify;
	text-indent: 30px;
	font-size: 1em;
	line-height: 2em;
	color: white;
}

footer {
	background-color: lightgray;
	color: black;
	text-align: center;
	font-size: 0.8em;
	padding: 5px;
}

/* Para a página "sobre" */

blockquote {
	display: flex;
	font-family: "roboto condensed";
	color: black;
	padding-top: 1.33%; /* 10px convertido para porcentagem */
	padding-left: 2%; /* 30px convertido para porcentagem */
	border-left: 0.833%; /* 5px convertido para porcentagem */
	background: white;
	font-size: 1.33rem; /* 20px convertido para porcentagem */
	width: 30%;
	border-radius: 5px;
	margin-left: 2%; /* 30px convertido para porcentagem */
}

.autor {
	text-align: left;
	margin-top: 13.33%; /* 100px convertido para porcentagem */
	margin-left: 2%; /* 30px convertido para porcentagem */
	width: 100%;
}

.lista-sobre-mim a {	
	padding: 0.833%; /* 5px convertido para porcentagem */
	color: gold;
	text-decoration: none;
	font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
	text-transform: uppercase;
}

.lista-sobre-mim a:hover {
	text-decoration: solid underline;
	color: white;
	transition: 0.5s;
	text-shadow:
	-0.833% -0.833% 0 black,  
	 0.833% -0.833% 0 black,
	-0.833%  0.833% 0 black,
	 0.833%  0.833% 0 black;
}

#contatos a {
	text-decoration: none;
	color: white;
}

/* DESATIVADO POR ESTÉTICA
	hr {
	border: none;
	border-top: 1px solid black;
	margin-bottom: 20px;
  } */

  h1, h2 {
	margin-top: 2%; /* 30px convertido para porcentagem */
	margin-bottom: 1.33%; /* 20px convertido para porcentagem */
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'impact';
	text-transform: uppercase;
	color: black;
	text-shadow:
	-0.0667em -0.0667em 0 gold,
	0.0667em -0.0667em 0 gold,
	-0.0667em 0.0667em 0 gold,
	0.0667em 0.0667em 0 gold;
}


/* desativado para testar
.comprar {
	margin-top: 0.833%; * 5px convertido para porcentagem *
	margin-bottom: 0.833%; * 5px convertido para porcentagem *
	margin-left: 0.833%; * 5px convertido para porcentagem *
	margin-right: 0.833%; * 5px convertido para porcentagem *
	cursor: pointer;
} */

.comprar {
	background: black;
	color: white;
	width: 70%; /* 100px convertido para porcentagem */
	border: 0.0333em;
	border-style: solid;
	border-color: gold;
	border-radius: 10px;
	padding: 1%;
	margin-bottom: 1.33%; /* 10px convertido para porcentagem */
	cursor: pointer;
	margin-top: 1.33%; /* 10px convertido para porcentagem */
	margin-left: 2%; /* 30px convertido para porcentagem */
}

button {
	background: black;
	color: white;
	width: 6.67%; /* 100px convertido para porcentagem */
	border: 0.0333em;
	border-style: solid;
	border-color: gold;
	border-radius: 10px;
	margin-bottom: 1.33%; /* 10px convertido para porcentagem */
	cursor: pointer;
	margin-top: 1.33%; /* 10px convertido para porcentagem */
	margin-left: 2%; /* 30px convertido para porcentagem */
	padding: 0.25%;
}

.linha {
	margin: 0.833%; /* 10px convertido para porcentagem */
	color: white;
}

label {
	width: 5%; /* 150px convertido para porcentagem */
	text-align: right;
	display: inline-block;
	padding-right: 0.833%; /* 5px convertido para porcentagem */
	margin-right: 20px;
}

fieldset {
	margin-top: 0.833%; /* 10px convertido para porcentagem */
	margin-bottom: 0.833%; /* 10px convertido para porcentagem */
	margin-left: 2%; /* 30px convertido para porcentagem */
	margin-right: 2%; /* 30px convertido para porcentagem */
	border: 0.1333em;
	border-style: solid;
	border-radius: 10px;
	border-color: gold;
	background: #1c1c1c;
	-webkit-box-shadow: 0.3333em 0.3333em 0.4em 0px gold;
	-moz-box-shadow: 0.3333em 0.3333em 0.4em 0px gold;
	box-shadow: 0.3333em 0.3333em 0.4em 0px gold;
}

input {
	border: 0.0333em;
	border-style: solid;
	border-radius: 10px;
	text-align: left;
	padding: 0.833%; /* 5px convertido para porcentagem */
}

table {
	margin-top: 0.833%; /* 10px convertido para porcentagem */
	width: 90%;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto;
	-webkit-box-shadow: 0.3333em 1.2em 0.4em 0px gold;
	-moz-box-shadow: 0.3333em 1.2em 0.4em 0px gold;
	box-shadow: 0.3333em 0.3333em 0.4em 0px gold;
	border: solid 0.1333em gold;
}

.legenda {
	margin-top: 0.33%; /* 10px convertido para porcentagem */
	margin-bottom: 0.33%; /* 10px convertido para porcentagem */
	padding-top: 0.33%; /* 10px convertido para porcentagem */
	padding-bottom: 0.33%; /* 10px convertido para porcentagem */
	color: gold;
}

th {
	background-color: black;
	color: white;
	font-family: "Verdana";
	padding-top: 0.833%; /* 5px convertido para porcentagem */
	padding-bottom: 0.833%; /* 5px convertido para porcentagem */
}

td {
	font-family: "Verdana";
	padding-top: 0.833%; /* 5px convertido para porcentagem */
	padding-bottom: 0.833%; /* 5px convertido para porcentagem */
	border: solid 0.0333em gray;
}

tr:nth-child(even) {
	background-color: #f1f1f1;
}

tr:nth-child(odd) {
	color: white;
}

tr:hover td {
	background: #E9E9E9E9;
	color: black;
}

.envio {
	background: black;
	color: white;
	width: 6.67%; /* 100px convertido para porcentagem */
	border: 0.0333em;
	border-style: solid;
	border-color: gold;
	border-radius: 10px;
	margin-bottom: 1.33%; /* 10px convertido para porcentagem */
	cursor: pointer;
	margin-top: 1.33%; /* 10px convertido para porcentagem */
	margin-left: 2%; /* 30px convertido para porcentagem */
}

.selecionarestado {
	border: 0.0333em;
	border-style: solid;
	border-radius: 10px;
	text-align: left;
	padding: 0.833%; /* 5px convertido para porcentagem */
}

.cidadedoshow {
	border: 0.0333em;
	border-style: solid;
	border-radius: 10px;
	text-align: left;
	padding: 0.833%; /* 5px convertido para porcentagem */
}

/* Para a Splash Screen */

.splash {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.splash h1 {
	font-size: 3em;
	margin-bottom: 0.5em;
}

.loader {
	margin-top: 30px;
	padding-top: 20px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid gold;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }