/*Para todas as páginas*/

*{
    font-family: "Treubechet MS", "Tahoma";
}

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.bloconav {
	background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(49, 168, 221, 0.20), rgba(0, 0, 0, 0.60)), url("../img/fundo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 200px;
	padding-top: 60px;
	border-bottom: 1px dashed black;
	text-align: center;
	text-shadow: none;
}

.bloconav:hover {
	border-bottom: 1px dotted white;
	transition: 0.5s;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(49, 168, 221, 0.20), rgba(0, 0, 0, 0.60)), url("../img/bats2.jpg");
}

iframe {
	border-radius: 10px;
	border: 0.15em solid gold;
}

.menunav {
	text-align: top;
	margin:auto;
	top: 0;
	left: 0;
	font-weight: bold;
}

.menunav li {
	margin: 5px;
}

.menunav a {
	padding: 0.5em;
	color: white;
	text-decoration: none;
	font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
	text-transform: uppercase;
	text-shadow: none;
	margin: 3em; 
	font-size:20px;
}

.menunav a:hover {
	background-color: white;
	text-shadow: 0.5px 0.5px 0.5px gold;
	text-decoration: none;
	transition: 1s;
	color: black;
}

/*para a pagina inicial*/

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.links ul li a {
	padding: 0.75em 1em;
	font-size: 1.5em;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	text-decoration: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: 'impact';
	margin-bottom: 10px;
}

.links ul li a:hover {
	background-color: white;
	text-shadow: 0.5px 0.5px 0.5px gold;
	text-decoration: none;
	transition: 1s;
	color: black;
}

/* Para as fotos */

main img {
	border: 0.15em solid gold;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 30%;
}

figcaption {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	color: white;
	font-size: 1.5em;
}

.fotosbandas {
	display: flex;
	width: 25%;
	height: auto;
}

/* Para os vídeos */

.video-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0.75em;
}

.video {
	flex: 0 0 25%;
	max-width: 25%;
	height: 303px;
	margin: 0.25%

}

/* Para as páginas de conteúdo */

.conteudo {
	text-align: justify;
	font-family: "roboto condensed";
	font-size: 1.25rem; /* 20px convertido para porcentagem */
	margin-left: 2%; /* 30px convertido para porcentagem */
	margin-bottom: 0.3125%; /* 5px convertido para porcentagem */
	margin-right: 2%; /* 30px convertido para porcentagem */
	color: white;
}

/* Para a página "sobre" */

blockquote {
	display: flex;
	font-family: "roboto condensed";
	color: black;
	padding-top: 1.33%; /* 10px convertido para porcentagem */
	padding-left: 2%; /* 30px convertido para porcentagem */
	border-left: 0.833%; /* 5px convertido para porcentagem */
	background: white;
	font-size: 1.33rem; /* 20px convertido para porcentagem */
	width: 30%;
	border-radius: 5px;
	margin-left: 2%; /* 30px convertido para porcentagem */
}

.autor {
	text-align: left;
	margin-top: 13.33%; /* 100px convertido para porcentagem */
	margin-left: 2%; /* 30px convertido para porcentagem */
	width: 100%;
}

.lista-sobre-mim a {	
	padding: 0.833%; /* 5px convertido para porcentagem */
	color: gold;
	text-decoration: none;
	font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
	text-transform: uppercase;
}

.lista-sobre-mim a:hover {
	text-decoration: solid underline;
	color: white;
	transition: 0.5s;
	text-shadow:
	-0.833% -0.833% 0 black,  
	 0.833% -0.833% 0 black,
	-0.833%  0.833% 0 black,
	 0.833%  0.833% 0 black;
}

#contatos a {
	text-decoration: none;
	color: white;
}

/* DESATIVADO POR ESTÉTICA
	hr {
	border: none;
	border-top: 1px solid black;
	margin-bottom: 20px;
  } */

  h1, h2 {
	margin-top: 2%; /* 30px convertido para porcentagem */
	margin-bottom: 1.33%; /* 20px convertido para porcentagem */
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'impact';
	text-transform: uppercase;
	color: black;
	text-shadow:
	-0.0667em -0.0667em 0 gold,
	0.0667em -0.0667em 0 gold,
	-0.0667em 0.0667em 0 gold,
	0.0667em 0.0667em 0 gold;
}


/* desativado para testar
.comprar {
	margin-top: 0.833%; * 5px convertido para porcentagem *
	margin-bottom: 0.833%; * 5px convertido para porcentagem *
	margin-left: 0.833%; * 5px convertido para porcentagem *
	margin-right: 0.833%; * 5px convertido para porcentagem *
	cursor: pointer;
} */

.comprar {
	background: black;
	color: white;
	width: 36.67%; /* 100px convertido para porcentagem */
	border: 0.0333em;
	border-style: solid;
	border-color: gold;
	border-radius: 10px;
	margin-bottom: 1.33%; /* 10px convertido para porcentagem */
	cursor: pointer;
	margin-top: 1.33%; /* 10px convertido para porcentagem */
	margin-left: 2%; /* 30px convertido para porcentagem */
}

button {
	background: black;
	color: white;
	width: 6.67%; /* 100px convertido para porcentagem */
	border: 0.0333em;
	border-style: solid;
	border-color: gold;
	border-radius: 10px;
	margin-bottom: 1.33%; /* 10px convertido para porcentagem */
	cursor: pointer;
	margin-top: 1.33%; /* 10px convertido para porcentagem */
	margin-left: 2%; /* 30px convertido para porcentagem */
}

.linha {
	margin: 0.833%; /* 10px convertido para porcentagem */
	color: white;
}

label {
	width: 5%; /* 150px convertido para porcentagem */
	text-align: right;
	display: inline-block;
	padding-right: 0.833%; /* 5px convertido para porcentagem */
}

fieldset {
	margin-top: 0.833%; /* 10px convertido para porcentagem */
	margin-bottom: 0.833%; /* 10px convertido para porcentagem */
	margin-left: 2%; /* 30px convertido para porcentagem */
	margin-right: 2%; /* 30px convertido para porcentagem */
	border: 0.1333em;
	border-style: solid;
	border-radius: 10px;
	border-color: gold;
	background: #1c1c1c;
	-webkit-box-shadow: 0.3333em 0.3333em 0.4em 0px gold;
	-moz-box-shadow: 0.3333em 0.3333em 0.4em 0px gold;
	box-shadow: 0.3333em 0.3333em 0.4em 0px gold;
}

input {
	border: 0.0333em;
	border-style: solid;
	border-radius: 10px;
	text-align: left;
	padding: 0.833%; /* 5px convertido para porcentagem */
}

table {
	margin-top: 0.833%; /* 10px convertido para porcentagem */
	width: 90%;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto;
	-webkit-box-shadow: 0.3333em 1.2em 0.4em 0px gold;
	-moz-box-shadow: 0.3333em 1.2em 0.4em 0px gold;
	box-shadow: 0.3333em 0.3333em 0.4em 0px gold;
	border: solid 0.1333em gold;
}

.legenda {
	margin-top: 0.33%; /* 10px convertido para porcentagem */
	margin-bottom: 0.33%; /* 10px convertido para porcentagem */
	padding-top: 0.33%; /* 10px convertido para porcentagem */
	padding-bottom: 0.33%; /* 10px convertido para porcentagem */
	color: gold;
}

th {
	background-color: black;
	color: white;
	font-family: "Verdana";
	padding-top: 0.833%; /* 5px convertido para porcentagem */
	padding-bottom: 0.833%; /* 5px convertido para porcentagem */
}

td {
	font-family: "Verdana";
	padding-top: 0.833%; /* 5px convertido para porcentagem */
	padding-bottom: 0.833%; /* 5px convertido para porcentagem */
	border: solid 0.0333em gray;
}

tr:nth-child(even) {
	background-color: #f1f1f1;
}

tr:nth-child(odd) {
	color: white;
}

tr:hover td {
	background: #E9E9E9E9;
	color: black;
}

.envio {
	background: black;
	color: white;
	width: 6.67%; /* 100px convertido para porcentagem */
	border: 0.0333em;
	border-style: solid;
	border-color: gold;
	border-radius: 10px;
	margin-bottom: 1.33%; /* 10px convertido para porcentagem */
	cursor: pointer;
	margin-top: 1.33%; /* 10px convertido para porcentagem */
	margin-left: 2%; /* 30px convertido para porcentagem */
}

.selecionarestado {
	border: 0.0333em;
	border-style: solid;
	border-radius: 10px;
	text-align: left;
	padding: 0.833%; /* 5px convertido para porcentagem */
}

.cidadedoshow {
	border: 0.0333em;
	border-style: solid;
	border-radius: 10px;
	text-align: left;
	padding: 0.833%; /* 5px convertido para porcentagem */
}

/* Para a Splash Screen */

.splash {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.splash h1 {
	font-size: 3em;
	margin-bottom: 0.5em;
}

.loader {
	margin-top: 30px;
	padding-top: 20px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid gold;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }